<!-- ĐẦU TRANG -->
<header>
    <!-- PHẦN TRÊN CỦA ĐẦU TRANG -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +034-844-1022</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> </a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Hải Dương , Việt Nam</a></li>
            </ul>
            <ul class="header-links pull-right">
                <!-- <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li> -->
                <ul class="header-links pull-right">
                    <!-- Các liên kết khác -->
                    <li><a routerLink="/myaccount"><i class="fa fa-user-o"></i> Tài Khoản Của Tôi</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <!-- /PHẦN TRÊN CỦA ĐẦU TRANG -->

    <!-- PHẦN CHÍNH CỦA ĐẦU TRANG -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- hàng -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- Ô TÌM KIẾM -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                            </select>
                            <input class="input" placeholder="Tìm kiếm ở đây">
                            <button class="search-btn">Tìm Kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /Ô TÌM KIẾM -->

                <!-- TÀI KHOẢN -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Danh Sách Yêu Thích</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Giỏ Hàng -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <li>
                                            <a routerLink="/cart">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span class="cart-text">Giỏ Hàng Của Tôi</span>
                                            </a>
                                        </li>
                                    </a>
                                    <!-- Các mục dropdown khác có thể được thêm vào đây -->
                                </div>

                            </a>


                        </div>
                        <!-- /Giỏ Hàng -->

                        <!-- Toggle Menu -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Toggle Menu -->
                    </div>
                </div>
                <!-- /TÀI KHOẢN -->
            </div>
            <!-- /hàng -->
        </div>
        <!-- /container -->
    </div>
    <!-- /PHẦN CHÍNH CỦA ĐẦU TRANG -->
</header>
<!-- /ĐẦU TRANG -->
<!-- DẪN HƯỚNG -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- DẪN HƯỚNG -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Trang Chủ</a></li>
                <li><a href="#">Ưu Đãi Nổi Bật</a></li>
                <li><a href="#">Danh Mục</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Điện Thoại Thông Minh</a></li>
                <li><a href="#">Máy Ảnh</a></li>
                <li><a href="#">Phụ Kiện</a></li>
            </ul>
            <!-- /DẪN HƯỚNG -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /DẪN HƯỚNG -->